# ASP2PHP
RewriteEngine On
AddType application/x-httpd-php .asp
ErrorDocument 404 /404/404.php
RewriteRule ^(.*)\.asp$ $1.php
RewriteRule ^(.*)\.aspx$ $1.php

# Redirect AlphaFable Client
Redirect /game/df-signup.php /df-signup.php

# Ignore File Case
CheckSpelling on
