RewriteEngine On

AddType application/x-httpd-php .asp
ErrorDocument 404 /404/404.php
RewriteRule ^(.*)\.asp$ $1.php
RewriteRule ^(.*)\.aspx$ $1.php

# Redirect AF Client
Redirect /af/amulet/ /
Redirect /af/ /
Redirect /game/df-signup.php /df-signup.php